<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>revenue_cat_app_id</key>
	<string>appa52dd8e0f7</string>
	<key>revenue_cat_api_key</key>
	<string>appl_zlyLqZMCIraiOTguDvCSsdjOuVz</string>
	<key>chatgpt_api_key</key>
	<string>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</string>
</dict>
</plist>
